.span-title {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    word-wrap: break-word;
  }
  .span-title:hover{
    display: flex;
  }
  

   ///*
  .card {
    display: flex;
    width: 100%;
    min-width: min-content;
    max-width: 30%;
    height: 20%x;
    margin: 0.5%;
  }
  
  .fotito {
    display: flex;
    float: left;
    width: 100%;
    min-width: 100px;
  }
  .fotito:hover{
    transform: scale(1.5)
  }
  
  ul[class^='description'] {
    width: 100%;
    min-width: 135px;
    list-style: none;
    shape-image-threshold: 0.5;
    shape-margin: 20px;
    text-align: left;
    padding-left: initial;
    shape-outside: content-box;
  }
  form .card{
    flex-direction: column;
    max-width: 100%;
    //padding: 10px;

  }


  @media(max-width:430px) {
    .fotito {
        width: 100%;
    }

    .box {
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: 0%;
    }

    .card {
        flex-wrap: wrap;
        height: 20%x;
        margin: 10px;
        max-width: 100%;
    }

    .description {
        width: 100%;
    }

}




